<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ow.tracer.shop.store.mapper.StoreManageMapper">

	<!-- 字段与Model映射 -->


	<sql id="Base_Column_List">
		`user_id`,
		`grade_id`,
		`name`,
		`id_number`,
		`store_name`,
		`class_id`,
		`area_id`,
		`address`,
		`zip`,
		`phone`,
		`card_img_id`,
		`store_status`,
		`business_img_id`,
		`banner_img_id`,
		`logo_img_id`,
		`store_recommend`,
		`store_recommend_time`,
		`validity_time`,
		`store_credit`,
		`template_id`,
		`store_info`,
		`store_seo_description`,
		`store_seo_keywords`,
		`store_second_domain`,
		`favorite_count`,
		`store_lat`,
		`store_lng`,
		`opening_time`
	'del_flag',
      'create_date',
      'create_by',
      'update_by',
      'update_date',
       'version_number',
       'enabled'
	</sql>


</mapper>