<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ow.tracer.shop.group.mapper.ShopCartMapper">

	<!-- 购物车表字段与Model映射 -->


	<sql id="Base_Column_List">
		`goods_id`,
		`goods_name`,
		`goods_skuinfo`,
		`goods_count`,
		`goods_price`,
		`user_id`,
		`store_id`,
		`store_name`,
		`strtus`
	'del_flag',
      'create_date',
      'create_by',
      'update_by',
      'update_date',
       'version_number',
       'enabled'
	</sql>


</mapper>